*{
    margin: 0;
    padding: 0;
}
body, html {
    width: 100vw;
    height: 100vh;
}
/*Modulo de Regitrar nuevo Usuario*/
body {
    background-color: #f9ecc9;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
	justify-content: center;
}
.imagen {
    display: flex;
    align-items: center;
	justify-content: center;
}
img{
    width: 35%;  
    padding-bottom: 10px;
}
.containeregistro {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 400px;
    height: 710px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d9d9d9;
    border-radius: 10px;
}
h3 {
    text-transform: uppercase;
	color:black;
	text-align: center;
	font-size: 25px;
    margin-bottom: 10px;
}
h3:hover{
	text-shadow:2px 2px 10px #5de4e4;
}
label {
    color: black;
    display: block;
    text-align: center;
    font-size: 20px;
}
.cedula, .nombre, .apellido, .fechan, .clave, .tiporol{
    width: 250px;
    height: 40px;
    background-color: #a7cbbc;
    border: none;
    text-align:center;
    outline:none;
    cursor: pointer;
}
.boton {
    width:150px;
    height: 50px;
    font-size: 18px;
    background-color: #ccb99d;
    font-weight: bolder;
    text-align:center;
    border-radius: 10px;
    margin-left: 40px;
    border: none;
    cursor: pointer; 
}
.boton:hover {
    box-shadow: 3px 3px 22px #ccb99d;
}
.inicio{
    color: black;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    margin-left: 90px;
}
.inicio:hover {
    box-shadow: 3px 3px 22px #ccb99d;
}