* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100vw;
  height: 100vh;
}
/*Contenedor principal - estructura del login*/
body {
  background-color: #f9ecc9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 50%;
  padding-bottom: 30px;
}
/*Contenedor que muestra y centra la infromacion del login*/
.containerlogin {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Contenedor que centra y da los border al cuadro del login*/
.contenedorlogin {
  width: 400px;
  height: 650px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 10px;
}
/*Titulo de Bienvenido Ingresar*/
h2 {
  color: black;
  text-align: center;
  font-size: 30px;
}
h2:hover {
  text-shadow: 2px 2px 10px #5de4e4;
}
/*Contenedor de infromacion de Usuario y Contraseña*/
.usuario,
.pass {
  width: 250px;
  height: 50px;
  background-color: #a7cbbc;
  text-align: center;
  font-size: 20px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}
/*Botones de Acceder - Registrar y olvido Contraseña del login*/
.acceder {
  background-color: #ccb99d;
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 30px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.acceder:hover {
  box-shadow: 3px 3px 22px #ccb99d;
}
.registrar {
  background-color: #ccb99d;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 50px;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.registrar:hover {
  box-shadow: 3px 3px 22px #ccb99d;
}
.olvido {
  margin-top: 20px;
  color: black;
  text-transform: capitalize;
  font-size: 16px;
}
.olvido:hover {
  box-shadow: 3px 3px 22px #ccb99d;
}
/****************************************************************************************/
/*Contenedor de Recuperr contraseña*/
/*Contenedor Principal*/
.containerecuperar {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Contenedor central que muesta los border de toda la informacion*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 650px;
  background-color: #d9d9d9;
  border-radius: 5px;
}
/*Titulo de los contenedores de recuperar contraseña*/
h4 {
  text-transform: uppercase;
  color:black;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
h4:hover {
  text-shadow: 2px 2px 10px #5de4e4;
}
/*Contenedor de la infromacion de recuperar contraseña*/
label {
  color: black;
  display: block;
  text-align: center;
  font-size: 20px;
}
/*Clases del nombre y fehca del recuperar contraseña*/
.name,
.date {
  width: 230px;
  height: 40px;
  border: none;
  background-color: #a7cbbc;
  text-align: center;
  outline: none;
  cursor: pointer;
}
/*Clases de roles del login*/
.rol {
  width: 230px;
  height: 30px;
 border: none;
  background-color: #a7cbbc;
  text-align: center;
  outline: none;
  cursor: pointer;
}
/*Boton del Registrar y volver del login de Recuperar Contraseña*/
.btn {
  background-color: #ccb99d;
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 35px;
  border: none;
  cursor: pointer;
}
.btn:hover {
    box-shadow: 3px 3px 22px #ccb99d;
}

.volver {
  color: black;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
}
.volver:hover {
    box-shadow: 3px 3px 22px #ccb99d;
}

