*{
    margin: 0;
    padding: 0;
}
body, html {
    font-family:'Times New Roman', Times, serif;
    width: 100vw;
    height: 100vh;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}
body {
    background-color:#f9ecc9;
}
/*Barra de Menu de cada uno de los modulos de cultivos y Registro de Nuevo Cultivo*/
.headerinicio {
    background-color:#5e7153;
    width: 100vw;
}
/*imagen del logo SRA de la barra de Menu*/
.logo {
    width: 5rem;
    margin-left: 50px;
}
nav{
    float: right;
    visibility: visible;
}
nav ul li {
    float: left;
    display: block;
}
nav ul li a {
    margin-right: 2rem;
    font-size: 1.3rem;
    display: block;
    color:black;
    text-decoration: none;
}
/*Iconos  de la barra de menu de los modulos de cultivos */
.iniciologo, .riego, .cerrarlogo {
    width: 50px;
    margin-top: 4px;
}

/* Iconos de barra de menu del modulo de registro de nuevo cultivo.*/
.logoinicio, .logocerrar {
    width: 45px;
    margin-top: 10%;
}

/* Contenedor de los modulos de cada uno de los cultivos*/
.contenedor {
    width: 300px;
    margin-top: 4%;
    margin-left: 10%;
    background-color: #d9d9d9;
    border-radius: 5px;
}
/*tabla del cultivo de los cultivos*/
.tablascultivos {
    width: 550px;
    margin-left: 450px;
}
/*titulos*/
h1 {
    color:black;
    font-size: 50px;
    text-align: center;
    font-style: italic;
    cursor: pointer;
}
h1:hover {
    text-shadow: 2px 2px 10px #fdfefe;
}
/*subtitulos*/
h2, h3{
    color: black;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin-bottom: 2%;
}
h4, p {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
/*Informacion sobre las tablas de los modulos de cultivos */
table, td, th {
    background-color: #d9d9d9;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
/*Boton Riego Activar- Riego Desactivar  */
.riegoactivar{
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align:center;
    background-color: #ccb99d;
    border-radius: 10px;
    margin-left: 230px;
    margin-bottom: 2%;
    padding:15px 20px;
    border: none;
    cursor: pointer;
    transition: .5s;
}
.riegoactivar:hover {
    box-shadow: 3px 3px 22px #ccb99d;
}
.riegodesactivar{
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align:center;
    background-color: #ccb99d;
    border-radius: 10px;
    margin-left: 215px;
    margin-bottom: 2%;
    padding:15px 20px;
    border: none;
    cursor: pointer;
    transition: .5s;
}
.riegodesactivar:hover {
    box-shadow: 3px 3px 22px #ccb99d;
}
/**************************************************************************************/
/*Modulo de Registro de Nuevos Cultivos*/
/*Contenedor Principal*/
.contregicultivo {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Contenedor de la informacion de los modulos de Nuevos cultivos */
.regiscultivo {
    width: 350px;
    height: 600px;
    background-color: #d9d9d9;
    border-radius: 10px;
}
/*Contenedorde la imagen del modulo de SRA*/
.imagen {
    display: flex;
    align-items: center;
	justify-content: center;
}
/*imagen */
img{
    width: 40%;  
    padding-bottom: 10px;
}
label {
    color: black;
    display: block;
    text-align: center;
    font-size: 20px;
}
/*Contenedor de las clases que contienen la informacion del formaulario de nuevo registro de Cultivo */
.nombrec, .selectc, .fechac, .tipoc {
    width: 250px;
    height: 40px;
    text-align: center;
    background-color: #a7cbbc;
    border-radius: 10px;
    margin-left: 14%;
    outline:none;
    cursor: pointer;
}
/*Botones del modulo de registro de nuevos cultivos */
.enviar {
    width:150px;
    height: 50px;
    font-size: 18px;
    background-color: #ccb99d;
    font-weight: bolder;
    text-align:center;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 27%;
    border: none;
    cursor: pointer; 
}
.enviar:hover {
    box-shadow: 3px 3px 22px #ccb99d;
}