
*{
    margin: 0;
    padding: 0;
}
body, html {
    font-family:'Times New Roman', Times, serif;
    width: 100vw;
    height: 100vh;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}
body {
    background-color:#f9ecc9;
}
/*Barra de Menu*/
.headerinicio {
    background-color:#5e7153;
    width: 100vw;
}
/*Imagen del SRA de la barra de menu*/
.logo {
    width: 5rem;
    margin-left: 50px;
}
nav{
    float: right;
    visibility: visible;
}
nav ul li {
    float: left;
    display: block;
}
nav ul li a {
    margin-right: 2rem;
    font-size: 1.3rem;
    display: block;
    color:black;
    text-decoration: none;
}
/*Estilo de las clases de los iconos de cada uno de subtitulos de la barra de menu*/
.riegologo, .cerrarlogo{
    width: 45px;
    margin-top: 6%;
}
.inicio {
    width: 50px;
}
.userlogo {
    width: 35px;
    margin-left: 40px;
    margin-top: 4%;
}
.registrarlogo {
   width: 35px;
   margin-left: 20px;
   margin-top: 4%;
}
.riegohoja {
    width: 45px;
    margin-left: 20px;
    margin-top: 4%;
}

/*Contenido principal del modulo de bienvenida*/
h1 {
    color:black;
    font-size: 50px;
    margin-top: 2%;
    text-align: center;
    font-style: italic;
    cursor: pointer;
}
h1:hover {
    text-shadow: 2px 2px 10px #fdfefe;
}
.contenido {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    margin-top: 3%;
}
.logobienvenida{
    width: 100px;
}
.informacionSRA{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.jucaye {
    width: 20rem;

}
.informacionjucaye {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*Pie de pagina*/
footer{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 12px;

}
.whatsapp, .facebook, .instagram  {
    width: 45px;
    margin-top: 4%;
    margin-left: 20px;
}

/*Contenido del Modulo de Menu principal-Parcelas*/
main {
    font-family:'Times New Roman', Times, serif;
    display: block;
}
/*Contenedor principal del modulo del suelo*/
.contenedorprincipal {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
}
/*Contenedor y clases del contenedor de los suelos*/
.contcultivo1, .contcultivo2, .contcultivo3 {
    margin-left: 15px;
    margin-right: 15px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*Contenedor de las parcelas del modulo de los suelos*/
.parcela {
    height: 15rem;
    margin-bottom: 20px;
}
/*Subtitulos*/
h2 {
    color:black;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}
/*Subtitulos*/
/*Informacion de los las tablas de cada una de las parcelas*/
table, th, td {
    background-color: #d9d9d9;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
   
}
/*Botones de informacion de las parcelas (VerCultivos)---Sistema de Riego cultivo (Ver Mas)*/
.vercultivos, .vermas {
    background-color: #ccb99d;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align:center;
    text-transform:uppercase;
    text-decoration: none;
    border-radius: 10px;
    padding:15px 20px;
    border: none;
    cursor: pointer;
    transition: .5s;
}
.vercultivos:hover{
    box-shadow: 3px 3px 22px #ccb99d;
}
.vermas:hover {
    box-shadow: 3px 3px 22px #ccb99d;
}

/********************************************************************************************/
/*Contenido de los Modulos de Sistema de Riego-Cultivos*/

.contenedor {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
/*Contenedor Principal del modulo de sistema de Riego de cada uno de los modulos*/
.contcultivos {
    margin-top: 8%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*Contenedor modulo del sistema de Riego de cada uno de los modulos*/
.cilantro, .yuca {
    height: 13rem;
    margin-bottom: 20px;
}
/*Clases los modulos que contienen la informacion de cada uno de los cultivos*/
.cebolla, .papa {
    height: 13rem;
    width: 20rem;
    margin-bottom: 20px;
}

.parrafo{
    width: 300px;
    background-color: #d9d9d9;
}

/**************************************************************/
/* para 768px o menos */
@media screen and (max-width: 768px) {
    /* ocultar el menu y mostrar un boton para desplegarlo */
    nav {
      display: none;
    }
    .menu-btn {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
      background: url no-repeat center;
      background-size: 30px;
      cursor: pointer;
    }
    /* ajustar el tama単o de las fuentes e imagenes */
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 25px;
    }
    .logo, .riegologo, .cerrarlogo, .inicio, .userlogo, .registrarlogo, .riegohoja {
      width: 40px;
    }
    nav ul li a {
      font-size: 1.2rem;
    }
    p {
      font-size: 16px;
    }
  }
  
  /* para 480px o menos */
  @media screen and (max-width: 480px) {
    /* cambiar el dise単o del grid principal a una sola columna */
    .contenedorprincipal {
      grid-template-columns: 1fr;
    }
    /* cambiar el dise単o del grid de los cultivos a dos columnas */
    .contenedor {
      grid-template-columns: repeat(2,1fr);
    }
    /* ajustar el tama単o de las fuentes e imagenes */
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 20px;
    }
    .logo, .riegologo, .cerrarlogo, .inicio, .userlogo, .registrarlogo, .riegohoja {
      width: 30px;
    }
    nav ul li a {
      font-size: 1rem;
    }
    p {
      font-size: 14px;
    }
  }
  